.reveal section img {
  border: none;
}

.bio {
  text-align: center;
}

.bio img {
  width: 50%;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background: none;
}

.bio-headline {
  letter-spacing: 4px;
  font-size: 1.0em !important;
}

.bio-byline {
  font-size: 0.6em !important;
}

.bio-about {
  font-size: 0.8em !important;
}

/* https://github.com/gitpitch/the-template/blob/master/template/css/PITCHME.css */

/* Split-Screen Template Styles */

.split-screen-heading {
  font-size: 1.7em !important;
  font-weight: bold !important;
}

.split-screen-byline {
  width: 35%;
  font-size: 1.1em !important;
}

.split-screen-text {
  width: 30%;
  text-align: center;
  font-size: 0.8em !important;
}

.split-screen-img {
  width: 35%;
}

.split-screen-img img {
  border-radius: 8% !important;
}

.split-screen-list li {
  font-size: 0.8em;
  margin:0 0 40px 0;
}

.split-screen-list li::before {
  color: #FF5600 !important;
  background-color: white !important;
}

/* List-Content Template Styles */

.list-content-concise li {
  font-size: 1em;
  margin:0 0 10px 0;
}

.list-content-verbose ul {
  list-style-type: square;
}

.list-content-verbose li {
  font-size: 0.8em;
  margin:0 0 40px 0;
}

.list-bullets-black li::before {
  background-color: black !important;
}

.list-bullets-circles {
  list-style-type: circle !important;
}


/** Image Template Styles ***/

/** Sidebox Template Styles ***/

/** Code-Presenting Template Styles ***/

/** Header-Footer Template Styles ***/

.header-footer-list-shrink li {
  color: white;
  font-size: 0.7em;
  margin:0 0 20px 0;
}


/** General Template Styles **/

.text-black  { color: #000000 !important; }
.text-blue   { color: #4487F2 !important; }
.text-gray   { color: #777777 !important; }
.text-green  { color: #8EA33B !important; }
.text-orange { color: #F26225 !important; }
.text-pink   { color: #E71E60 !important; }
.text-purple { color: #643B85 !important; }
.text-yellow { color: #F5DB2E !important; }
.text-white  { color: #FFFFFF !important; }

.template-note {
  letter-spacing: 0.1em;
  font-size: 0.4em !important;
}

.span-5  { width:  5% }
.span-10 { width: 10% }
.span-15 { width: 15% }
.span-20 { width: 20% }
.span-25 { width: 25% }
.span-30 { width: 30% }
.span-35 { width: 35% }
.span-40 { width: 40% }
.span-45 { width: 45% }
.span-50 { width: 50% }
.span-55 { width: 55% }
.span-60 { width: 60% }
.span-65 { width: 65% }
.span-70 { width: 70% }
.span-75 { width: 75% }
.span-80 { width: 80% }
.span-85 { width: 85% }
.span-90 { width: 90% }
.span-95 { width: 95% }
.span-100 { width: 100% }


/** Reveal.js Core Override Styles **/

.reveal ol li {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.reveal ol li {
  position: relative;
  counter-increment: step-counter;
}

.reveal ol li::before {
  color: white;
  font-size: 80%;
  font-weight: bold;
  padding: 3px 10px;
  margin-right: 15px;
  border-radius: 3px;
  background-color: #F26225;
  content: counter(step-counter);
}

.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}

.reveal .slide-number {
  color: black !important;
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

.reveal p span.slide-title {
  display: none;
}
